.App {
  text-align: center;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  min-height: 100vh;
}

.category-header {
  margin: 15px;
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
}

.app-body {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex: 1;
  margin: 15px;
}

.player {
  flex: 3;
}

.playlist {
  flex: 1;
  margin-left: 10px;
}