.App {
  text-align: center;
  display: flex;
  justify-content: flex-start;
  background-color: green;
  flex-direction: column;
  min-height: 100vh;
}

.category-header {
  background-color: cornflowerblue;
  margin: 10px;
}

.app-body {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex: 1;
  margin: 15px;
}

.player {
  flex: 3;
  background-color: chocolate;
}

.playlist {
  flex: 1;
  background-color: aqua;
}